body {
  color: #000000;
}

.hero-img {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: left center;
}

.image-help {
  width: 200px;
}

.no-bullet {
  list-style-type: none;
}

.bg-grey {
  background-color: $lightgrey;
}

.pad {
  padding: 3em 1em 2em 2em;
}

.bg-sky {
  background-color: $sky;
}

a:focus, a:hover {
  color: $red;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: $red;
  background-color: $lightgrey;
}
