// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// font
$font-family-sans-serif: 'Poppins', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

// colors
$red: #d80000;
$black: #000000;
$lightgrey: #fdf9f9;
$light-blue: #0275d8;
$panels: #f4faff;
$light-red: #fbe0e0;
$dark-blue: #002c54;
$white: #ffffff;
